<!-- <app-example 
name="Güray" 
age="45" 
hairColor="Brown">

</app-example>
<app-example name="John" ></app-example> -->

<!-- <app-people-list></app-people-list>
<app-event-handling></app-event-handling> -->
<!-- <!-- <app-multiple-choice
(aClick)="doSomething()"
(bClick)="doSomethingElse()"
(cClick)="doAnotherThing()"
(dClick)="doSomething()"
></app-multiple-choice>

<br>
<hr>

 <app-congratulations *ngIf="count > 10 "></app-congratulations> 

<app-congratulations [count]="count" [threshold]="threshold"></app-congratulations>
 <app-counter [count]="count" (increment)="incrementNumber()" (decrement)="decrementNumber()"></app-counter>

 -->
 <app-navbar></app-navbar>
 <router-outlet></router-outlet>
